scripts/n8n/gm-promo-ingest.workflow.json
{
  "name": "gm-promo-ingest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "gmpi-cron",
      "name": "gmpi-cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Fontes fase 1 (spec 2026-07-11). Passageiro de Primeira FORA por decisão do owner.\nreturn [\n  { json: { source: 'melhorescartoes', url: 'https://www.melhorescartoes.com.br/c/promocoes-milhas/feed/' } },\n  { json: { source: 'pontospravoar', url: 'https://pontospravoar.com/category/promocoes/feed/' } },\n  { json: { source: 'melhoresdestinos', url: 'https://www.melhoresdestinos.com.br/milhas/feed' } },\n]"
      },
      "id": "gmpi-feeds",
      "name": "gmpi-feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "gmpi-rss",
      "name": "gmpi-rss",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// RSS item -> shape estável. source vem do node gmpi-feeds via pairedItem.\nconst src = $('gmpi-feeds').item.json.source\nconst j = $json\nconst externalId = (j.guid || j.link || '').toString().slice(0, 500)\nif (!externalId) return null // item sem id rastreável: ignora\nconst content = (j['content:encoded'] || j.content || j.contentSnippet || '')\n  .toString()\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .slice(0, 6000)\nreturn {\n  json: {\n    source: src,\n    external_id: externalId,\n    title: (j.title || '').toString().slice(0, 300),\n    link: (j.link || '').toString(),\n    content,\n    pub_date: (j.pubDate || j.isoDate || '').toString(),\n  },\n}"
      },
      "id": "gmpi-normalize",
      "name": "gmpi-normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- RETURNING carrega o payload adiante: referências $('nó').item NÃO atravessam node Postgres\n-- quando a contagem de itens diverge (paired_item_multiple_matches — bug real de 2026-07-11).\ninsert into public.promo_ingest_seen (source, external_id)\nvalues ($1, $2)\non conflict do nothing\nreturning source, external_id, $3::text as title, $4::text as link, $5::text as content, $6::text as pub_date;",
        "options": {
          "queryReplacement": "={{ [$json.source, $json.external_id, $json.title, $json.link, $json.content, $json.pub_date] }}"
        }
      },
      "id": "gmpi-unseen",
      "name": "gmpi-unseen",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        880,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "Ucn1qbvcmYC4XHpa",
          "name": "CRED_POSTGRES_AGENTE"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "gmpi-fetch-post",
      "name": "gmpi-fetch-post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        990,
        300
      ],
      "onError": "continueRegularOutput",
      "notes": "Busca o ARTIGO COMPLETO do post: o resumo do RSS não traz o link de participação da promoção (fica no corpo). Falhou => segue com o resumo do RSS."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Junta metadados (gmpi-unseen carrega via RETURNING) + corpo do artigo.\n// Preserva os hrefs como 'texto (url)' pro LLM enxergar o link de participação.\nconst meta = $('gmpi-unseen').item.json\nlet articleText = ''\nconst html = typeof $json.data === 'string' ? $json.data : ''\nif (html && html.length > 200) {\n  // Corta no <article>: header/menu dos blogs consomem o orçamento de texto antes do corpo.\n  const artIdx = html.search(/<article\\b/i)\n  const scope = artIdx > 0 ? html.slice(artIdx) : html\n  articleText = scope\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<a\\b[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi, (m, href, txt) => {\n      const t = txt.replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim()\n      return href.startsWith('http') ? ` ${t} (${href}) ` : ` ${t} `\n    })\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .slice(0, 12000)\n}\nif (!articleText) articleText = meta.content || ''\nreturn { json: { ...meta, article_text: articleText } }"
      },
      "id": "gmpi-prep",
      "name": "gmpi-prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1045,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 1280, system: 'Você extrai promoções de milhas/pontos de posts de blogs brasileiros. Hoje é ' + $now.toFormat('yyyy-MM-dd') + '. Responda APENAS com um objeto JSON válido, sem markdown, sem texto fora do JSON, com estas chaves:\\nis_promo (bool): true só se o post anuncia uma promoção acionável de programa de fidelidade (bônus de transferência, compra de pontos/milhas com desconto ou bônus, pontos por real em loja/portal, oferta de cartão). Passagem aérea promocional de rota específica, notícia, análise ou guia => false.\\ncategory: \"transfer\" | \"shopping\" | \"miles\" | \"cards\".\\nsource_program: origem dos pontos (banco/programa, ex. \"Livelo\", \"Esfera\", \"Itaú\") ou null.\\ntarget_program: destino (ex. \"Smiles\", \"LATAM Pass\", \"Azul Fidelidade\") ou null.\\ntitle: manchete própria, factual, máx 70 caracteres, pt-BR. NUNCA copie frases do post.\\nbonus_value: token CURTO de exibição, máximo 12 caracteres (ex. \"100%\", \"10 pts/R$\", \"-30%\"); se o benefício não couber num token curto, null (o title carrega a promoção).\\nbonus_numeric: número comparável (100, 10, 30) ou null.\\ntiers: [{\"label\",\"value\",\"isBest\"}] quando o bônus varia por perfil/clube, senão null.\\nvalid_from, valid_until: \"YYYY-MM-DD\" ou null (não invente datas).\\ndetails: regras essenciais em texto próprio, máx 400 caracteres.\\ncta_url: o link DE PARTICIPAÇÃO que o artigo indica ao leitor (página de campanha/parceiro/hotsite/cadastro; os links aparecem no texto como \"âncora (url)\"; pode conter códigos de indicação). Se houver mais de um, escolha o que o texto manda clicar pra participar/aproveitar. NUNCA use URL de blog (pontospravoar, melhorescartoes, melhoresdestinos). null se o artigo não trouxer link externo de participação.\\nmilheiro_cost: número em reais do custo por 1.000 pontos/milhas no programa de DESTINO, somente se o artigo publicar esse custo explicitamente (ex. \"milheiro a R$ 15,58\", \"1.000 milhas a partir de R$ 15,58\"). NUNCA calcule você mesmo a partir de preços e bônus; se o artigo não publicar o número pronto, null. Reporte sempre o custo por 1.000 (milheiro), melhor caso publicado.\\nmilheiro_note: como o artigo diz que se chega nesse custo (carrinho, clube, Pix, transferência com bônus), máx 200 caracteres, texto próprio em pt-BR; null se milheiro_cost for null.\\nconfidence: 0 a 1 (quão certo você está de que os campos refletem o post).', messages: [ { role: 'user', content: 'TÍTULO: ' + $json.title + '\\nLINK DO POST (não usar como cta_url): ' + $json.link + '\\nDATA: ' + $json.pub_date + '\\nARTIGO: ' + $json.article_text } ] }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "gmpi-extract",
      "name": "gmpi-extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "kOWHaIShekMAauG4",
          "name": "CRED_RRV_ANTHROPIC"
        }
      },
      "notes": "AJUSTE DO CONTROLLER: reusa a credencial existente CRED_RRV_ANTHROPIC (id kOWHaIShekMAauG4, httpHeaderAuth x-api-key) em vez de criar CRED_ANTHROPIC nova. Follow-up: owner pode trocar por credencial dedicada depois."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Valida o JSON do LLM e calcula a chave canônica (determinística, fora do LLM).\n// norm vem de gmpi-unseen (que carrega o payload no RETURNING): a referência só\n// atravessa o httpRequest 1:1 — nunca um Postgres que muda a contagem de itens.\nconst norm = $('gmpi-unseen').item.json\nlet out\ntry {\n  const text = $json.content?.[0]?.text ?? ''\n  out = JSON.parse(text.replace(/^[\\s`]*json/i, '').replace(/`+/g, '').trim())\n} catch (e) {\n  return { json: { is_promo: false, parse_error: true, source: norm.source, link: norm.link } }\n}\nconst CATS = ['transfer', 'shopping', 'miles', 'cards']\nif (!out || out.is_promo !== true || !CATS.includes(out.category) || !out.title) {\n  return { json: { is_promo: false, source: norm.source, link: norm.link } }\n}\n// Higiene do link de participação: nunca blog, sem utm_* (cliente não vê a origem).\n// Regex puro: o sandbox do Code node NÃO expõe o global URL (new URL lançava e o catch anulava tudo).\nif (out.cta_url) {\n  const cu = String(out.cta_url)\n  if (!/^https?:\\/\\//i.test(cu) || /pontospravoar|melhorescartoes|melhoresdestinos/i.test(cu)) {\n    out.cta_url = null\n  } else {\n    out.cta_url = cu\n      .replace(/([?&])utm_[^=&#]+=[^&#]*/gi, '$1')\n      .replace(/\\?&/, '?')\n      .replace(/&&+/g, '&')\n      .replace(/[?&]+$/, '')\n  }\n}\n// Guarda anti-alucinação do milheiro: o número tem que estar LITERALMENTE no artigo\n// (grafias 15,58 / 15.58 / inteiro com borda de dígito), faixa R$ 1–200. Regex puro\n// (sandbox sem globals). $('gmpi-prep') atravessa só o gmpi-extract (httpRequest 1:1) — seguro.\n{\n  const rawCost = out.milheiro_cost\n  out.milheiro_cost = null\n  const costNum = typeof rawCost === 'number' ? rawCost : parseFloat(String(rawCost ?? '').replace(',', '.'))\n  if (Number.isFinite(costNum) && costNum >= 1 && costNum <= 200) {\n    const article = String($('gmpi-prep').item.json.article_text || '')\n    const forms = [costNum.toFixed(2).replace('.', ','), costNum.toFixed(2)]\n    if (Number.isInteger(costNum)) forms.push(String(costNum))\n    const hit = forms.some((f) => new RegExp('(?<!\\\\d)' + f.replace('.', '\\\\.') + '(?!\\\\d)').test(article))\n    if (hit) out.milheiro_cost = costNum\n  }\n  out.milheiro_note =\n    out.milheiro_cost != null && out.milheiro_note ? String(out.milheiro_note).slice(0, 200) : null\n}\nconst slug = (s) => (s || 'x').toString().toLowerCase().normalize('NFD').replace(/[^a-z0-9]+/g, '-')\nconst canonicalKey = [\n  out.category,\n  slug(out.source_program) + '>' + slug(out.target_program),\n  out.bonus_numeric ?? slug(out.bonus_value),\n  out.valid_until || 'sem-data',\n].join(':')\nreturn {\n  json: {\n    is_promo: true,\n    ...out,\n    canonical_key: canonicalKey,\n    source_name:\n      { melhorescartoes: 'Melhores Cartões', pontospravoar: 'Pontos pra Voar', melhoresdestinos: 'Melhores Destinos' }[norm.source] || norm.source,\n    source_url: norm.link,\n    raw_title: norm.title,\n  },\n}"
      },
      "id": "gmpi-parse",
      "name": "gmpi-parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "PR1iXHITz9GcjsYN",
          "mode": "list",
          "cachedResultName": "gm-promo-sink"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "gmpi-sink",
      "name": "gmpi-sink",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        1540,
        300
      ],
      "notes": "Downstream (is-promo->notify) vive em gm-promo-sink (passthrough). Passa o item parseado inteiro."
    }
  ],
  "connections": {
    "gmpi-cron": {
      "main": [
        [
          {
            "node": "gmpi-feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-feeds": {
      "main": [
        [
          {
            "node": "gmpi-rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-rss": {
      "main": [
        [
          {
            "node": "gmpi-normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-normalize": {
      "main": [
        [
          {
            "node": "gmpi-unseen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-unseen": {
      "main": [
        [
          {
            "node": "gmpi-fetch-post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-fetch-post": {
      "main": [
        [
          {
            "node": "gmpi-prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-prep": {
      "main": [
        [
          {
            "node": "gmpi-extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-extract": {
      "main": [
        [
          {
            "node": "gmpi-parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gmpi-parse": {
      "main": [
        [
          {
            "node": "gmpi-sink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "errorWorkflow": "pHo9Ic6AMY0YpXEn"
  }
}
