scripts/n8n/gm-promo-esfera.workflow.json
{
  "name": "gm-promo-esfera",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "minutes", "minutesInterval": 30 } ] } },
      "id": "gme-cron", "name": "gme-cron", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [0, 300]
    },
    {
      "parameters": {
        "url": "https://t.me/s/esferacomvoce",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126 Safari/537.36" } ] },
        "options": { "response": { "response": { "responseFormat": "text" } }, "timeout": 15000 }
      },
      "id": "gme-fetch", "name": "gme-fetch", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 300],
      "onError": "continueRegularOutput",
      "notes": "Scrape do preview público do canal Esfera. HTML mudou / fora do ar => run sem itens."
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Parse do preview t.me/s/: 1 item por mensagem { external_id, text, link }.\nconst html = typeof $json.data === 'string' ? $json.data : ''\nconst out = []\nconst blocks = html.split(/data-post=\"esferacomvoce\\//).slice(1)\nfor (const b of blocks) {\n  const idm = b.match(/^(\\d+)/)\n  if (!idm) continue\n  const id = idm[1]\n  const tm = b.match(/tgme_widget_message_text[^>]*>([\\s\\S]*?)<\\/div>\\s*<div class=\"tgme_widget_message_footer/) || b.match(/tgme_widget_message_text[^>]*>([\\s\\S]*?)<\\/div>/)\n  if (!tm) continue\n  const text = tm[1]\n    .replace(/<br\\/?>/gi, ' ')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&#0?36;/g, '$')\n    .replace(/&amp;/g, '&')\n    .replace(/&[a-z]+;/gi, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 800)\n  if (!text) continue\n  out.push({ json: { source: 'telegram-esfera', external_id: id, text, link: 'https://t.me/esferacomvoce/' + id } })\n}\nreturn out"
      },
      "id": "gme-parse", "name": "gme-parse", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- dedup; RETURNING carrega text/link adiante (ref $('nó').item não atravessa Postgres com contagem diferente).\ninsert into public.promo_ingest_seen (source, external_id)\nvalues ($1, $2)\non conflict do nothing\nreturning source, external_id, $3::text as text, $4::text as link;",
        "options": { "queryReplacement": "={{ [$json.source, $json.external_id, $json.text, $json.link] }}" }
      },
      "id": "gme-unseen", "name": "gme-unseen", "type": "n8n-nodes-base.postgres", "typeVersion": 2.4, "position": [660, 300],
      "credentials": { "postgres": { "id": "Ucn1qbvcmYC4XHpa", "name": "CRED_POSTGRES_AGENTE" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "anthropic-version", "value": "2023-06-01" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5', max_tokens: 400, system: 'Você extrai promoção de pontos de uma mensagem CURTA do canal Telegram da Esfera (programa de pontos brasileiro). Hoje é ' + $now.toFormat('yyyy-MM-dd') + '. Responda APENAS um objeto JSON válido, sem markdown, com: is_promo (bool: true só se anuncia benefício ACIONÁVEL de pontos — pontos por real numa loja/parceiro, bônus de transferência de pontos, ou compra de pontos com bônus. Cupom de desconto em R$, teaser institucional ou mensagem vaga sem benefício de pontos claro => false), category (transfer|shopping|miles|cards; pontos por real em loja => shopping), source_program (quase sempre Esfera), target_program (destino só se for transferência de pontos, senão null), title (manchete própria curta em pt-BR, máx 70 caracteres, factual, NUNCA copie a frase do post), bonus_value (token curto de até 12 caracteres, ex. 6 pts/R$, 80%), bonus_numeric (número comparável: 6, 80), valid_until (YYYY-MM-DD quando a mensagem disser até DD/MM — assuma o ano corrente; senão null), confidence (0 a 1).', messages: [ { role: 'user', content: 'MENSAGEM: ' + $json.text } ] }) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "gme-extract", "name": "gme-extract", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [880, 300],
      "retryOnFail": true, "maxTries": 2,
      "credentials": { "httpHeaderAuth": { "id": "kOWHaIShekMAauG4", "name": "CRED_RRV_ANTHROPIC" } },
      "notes": "Prompt de teaser (curto). Reusa CRED_RRV_ANTHROPIC (follow-up: credencial dedicada)."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Valida o JSON do LLM + canonical_key. norm vem de gme-unseen (RETURNING); $('gme-unseen').item\n// atravessa só o httpRequest 1:1 (gme-extract) — seguro.\nconst norm = $('gme-unseen').item.json\nlet out\ntry {\n  const text = $json.content?.[0]?.text ?? ''\n  out = JSON.parse(text.replace(/^[\\s`]*json/i, '').replace(/`+/g, '').trim())\n} catch (e) {\n  return { json: { is_promo: false, source: norm.source, link: norm.link } }\n}\nconst CATS = ['transfer', 'shopping', 'miles', 'cards']\nif (!out || out.is_promo !== true || !CATS.includes(out.category) || !out.title) {\n  return { json: { is_promo: false, source: norm.source, link: norm.link } }\n}\nconst slug = (s) => (s || 'x').toString().toLowerCase().normalize('NFD').replace(/[^a-z0-9]+/g, '-')\nconst canonicalKey = [\n  out.category,\n  slug(out.source_program) + '>' + slug(out.target_program),\n  out.bonus_numeric ?? slug(out.bonus_value),\n  out.valid_until || 'sem-data',\n].join(':')\nreturn { json: { is_promo: true, ...out, canonical_key: canonicalKey, source_name: 'Esfera (Telegram)', source_url: norm.link } }"
      },
      "id": "gme-parse-json", "name": "gme-parse-json", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1100, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": { "__rl": true, "value": "PR1iXHITz9GcjsYN", "mode": "list", "cachedResultName": "gm-promo-sink" },
        "options": { "waitForSubWorkflow": true }
      },
      "id": "gme-sink", "name": "gme-sink", "type": "n8n-nodes-base.executeWorkflow", "typeVersion": 1.1, "position": [1320, 300],
      "notes": "Downstream (is-promo->notify) vive em gm-promo-sink (passthrough). Passa o item parseado inteiro; o sink lê $json.category etc. direto."
    }
  ],
  "connections": {
    "gme-cron": { "main": [[{ "node": "gme-fetch", "type": "main", "index": 0 }]] },
    "gme-fetch": { "main": [[{ "node": "gme-parse", "type": "main", "index": 0 }]] },
    "gme-parse": { "main": [[{ "node": "gme-unseen", "type": "main", "index": 0 }]] },
    "gme-unseen": { "main": [[{ "node": "gme-extract", "type": "main", "index": 0 }]] },
    "gme-extract": { "main": [[{ "node": "gme-parse-json", "type": "main", "index": 0 }]] },
    "gme-parse-json": { "main": [[{ "node": "gme-sink", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/Sao_Paulo", "errorWorkflow": "pHo9Ic6AMY0YpXEn" }
}
